{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-4 text-center">
            <div class="form-group">

                <h1>Inscription sur le site</h1>

                {{ form_start(form) }}

                {{ form_widget(form) }}
            </div>
            <button type="submit" class="btn btn-success">Inscription</button>
            {{ form_end(form) }}
            <a href="{{ path('security_login') }}" class="btn btn-primary">Retour</a>
        </div>
    </div>


{% endblock body %}