{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur Bank, qui est une banque des plus simples....</h1>

    <a href="{{ path('security_login') }}" class="btn btn-primary">Espace Client</a>

{% endblock body %}