<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}" style="font-size: 25px">Epi<span style="color: #52a6ff">BanK®</span></a>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

            </ul>
            {% block nav_rigtht %}{% endblock %}
        </div>
    </nav>

        {% block body %}{% endblock %}
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 footer navbar-fixed-bottom">Epi<span style="color: #52a6ff">BanK®</span> 2019 | Pierre KELBERT | Hugo DI GUARDIA |
            <a href="{{ path('about') }}" class="btn btn-link">About</a>
        </div>
        <!-- Copyright -->
        <br/>

    </footer>
    <!-- Footer -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
