<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} - EpiBanK 2019</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}" style="font-size: 25px">Epi<span style="color: #52a6ff">BanK®</span></a>
        <span class="navbar-text">
            Simple comme bonjour !
        </span>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

            </ul>
            {% block nav_rigtht %}{% endblock %}
        </div>
    </nav>

        {% block body %}{% endblock %}
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 footer navbar-fixed-bottom">Epi<span style="color: #52a6ff">BanK®</span> 2019 | Pierre KELBERT | Hugo DI GUARDIA |
            <a href="{{ path('about') }}">About</a><hr class="ml-5 mr-5">
            <blockquote class="blockquote">
                <p class="mb-0 font-weight-light small" st>Si vous ne pouvez pas le faire bien, rendez-le beau.</p>

                <footer class="blockquote-footer small">Bill Gates <cite title="Source Title">Microsoft Funder</cite></footer>
            </blockquote>

        </div>
        <!-- Copyright -->


    </footer>
    <!-- Footer -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
